@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
:root {
  --cc-primary: #0E4C50;
  --cc-secondary: #D6A79D;
  --cc-bg: #ffffff;
  --cc-text: #2D2D2D;
}

body {
  background-color: var(--cc-bg);
  color: var(--cc-text);
  font-family: 'Inter', sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .btn-primary {
    @apply
      bg-[var(--cc-primary)]
      hover:bg-[var(--cc-secondary)]
      text-white
      px-6
      py-3
      rounded-md
      font-semibold
      transition
      cursor-pointer;
  }
}